@charset "UTF-8";

@font-face {
    font-family:'idroid';
    src: url(fontes/idroid.otf) format(opentype);
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(132, 225, 173);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to top, rgb(29, 100, 60), #2FA866 );                 
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 10px;
}

header > h1 {
    margin-bottom: 20px;
}
    
main{
    background-color: white;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}



#h1-header{
    font-family: 'idroid';
    background-image: linear-gradient(to top, rgb(29, 100, 60), #2FA866 );
}

main h2{
    font-family: 'idroid';
    background-image: linear-gradient(to top, rgb(29, 100, 60), #2FA866 );  
}

#section-video{
    background-color:rgb(26, 96, 56);
    margin: -30px 30px -20px;
    padding: 20px;
}

h3{
background-color: #2FA866;
color: white;
padding: 10px;
border-top-left-radius: 13px;
border-top-right-radius: 13px;
}

#section-extra{
    background-color: rgb(197, 235, 214);
    border-radius: 13px 13px 13px 13px;
}

aside{
    list-style-position: inside;
}

a{
    color: rgb(26, 96, 56);
    font-weight: bold;
    text-decoration: none;
}

footer{
    background-color: rgb(26, 96, 56);
    color: white;
    text-align: center;
    padding: 8px;
}
    
    